---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { projects } from '../data/projects';
---

<Layout title="Itsuki54's Projects" description='Explore the projects created by Itsuki54, showcasing skills and technologies used.'>
  <h1 class="text-gradient">Projects</h1>
  <ul role="list" class="link-card-grid">
		{projects.map((project) => (
			<Card
				href={project.href}
				title={project.title}
				body={project.body}
				img={project.img}
				langs={project.langs}
			/>
		))}
	</ul>
</Layout>

<style>
	h1 {
		font-size: 4rem;
		font-weight: 700;
		text-align: center;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>