---

interface Props {
        title: string;
        body: string;
        href: string;
        img: string;
        langs: {
                name: string;
                img: string;
        }[];
}

const { href, title, body, img, langs } = Astro.props;
---

<div class="flex flex-col p-[1px] bg-[#23262d] rounded-lg shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] hover:bg-accent-gradient hover:bg-[length:400%] hover:bg-[position:0%]">
        <a href={href} class="flex flex-col justify-between h-full no-underline leading-relaxed p-6 rounded-lg text-white bg-[#23262d] opacity-80">
                <h2 class="text-xl font-bold text-white transition-colors duration-600">
                        {title}
                        <span>&rarr;</span>
                </h2>
                <p class="mt-2 mb-0">
                        {body}
                </p>
                <div class="flex flex-wrap gap-[5px] py-2">
                        {langs.map((lang) => (
                                <img src={lang.img} alt={lang.name} />
                        ))}
                </div>
        </a>
</div>